<div class="registration">
  <div class="background-transform"></div>
  <form [formGroup]="form" class="form-signin" (ngSubmit)="submit()">
    <h1 class="text-left mb-5">Registration</h1>

    <input type="text" class="form-control mb-3" placeholder="Name" formControlName="name" required autofocus>
    <input type="text" class="form-control" placeholder="Password" formControlName="pass" required>

    <div class="text-left mt-4 mb-5">
      <button class="btn btn-primary mr-3" type="submit" [disabled]="!form.valid">
        Register
      </button>
      <button class="btn" type="button" routerLink="/login">
        Login
      </button>
    </div>
  </form>
</div>