<ul class="list-unstyled text-body">
  <li class="media p-2 bg-white border-bottom" *ngFor="let list of notifiy">
    <img [src]="list.path" class="mr-3 rounded-circle" alt="no-user">
    <div class="media-body">
      <p class="mt-0" [innerHTML]="list.title | safeHtml"></p>
      <p class="text-muted">on {{list.date | date: 'dd MMM yyyy'}} at {{list.date | date: 'hh:mm'}}</p>
    </div>
  </li>
</ul>
<ul class="list-group text-muted" style="background: #f3f3f3;">
  <li class="media pl-2 pr-2 p-1">
    <div class="media-body">
      <p class="float-right">
        <i class="fa fa-cog"></i>
      </p>
      <p class="mt-0">View all notifications</p>
    </div>
  </li>
</ul>