$summer-sky-color: #22a3b1;

.side-bar {
  top: 63px;
  left: 0;
  z-index: 99;
  height: calc(100vh - 63px);

  .list-group {
    border-left: 6px solid #23a3b0;
    border-radius: 0;
  }
}

.list-header, .list-footer {
  font-size: 0.8em;
  background: transparent;
  color: #b5b5b5;
}